
<h1>New Document</h1>
<% form_for(:document, :url => documents_path, :html => { :multipart => true }) do |f| %>
  <p>
    <label for="document">Upload A Document:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', documents_path %>
